<div id='noCookies' style="display:none">
        <div class="container" style="padding-top:100px">
            <div class="row">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cookies must be enabled!</h3>
                    </div>
                    <div class="panel-body">
                        This site requires cookies! Please enable cookies in your browser and refresh this page.
                    </div>
                </div>
            </div>
        </div>
</div>
