{% extends viewLayout %}
{% block body %}
<section id="pageHeader" class="jumboHeight" style="background-image: url('img/contact-page/mastheads.jpg')" data-next="yes">
	<div class="pageHeader-overlay1"></div>
	<div class="container">
		<div class="pageHeader-intro">
			<div class="intro-text">
				<!--
					INFO:
					Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
					Example:
					<div class="fh5co-right-position">
				-->
				<div class="center-position">
					<h2 class="animate-box">Contact Us</h2>
				</div>
			</div>
		</div>
	</div>
</section>
				<section id="pageContent">
					<div class="blade">
					<div class="container">
						<div class="row">
							<div class="col-md-6  animate-box">
								<h3 class="section-title">Get in Touch</h3>
								<div id="messageProgress">
									<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
									<span class="sr-only">Loading...</span>
								</div>
								<div id="messageError"></div>
								<div id="messageSuccess">
									<i class="fa fa-check-circle success"  style="font-size:60px; color:green" aria-hidden="true"></i><br/><br/>Message sent. Thank you!
								</div>
								<form id="messageForm" action="" method="post">
									<div class="col-md-12">
										<div class="form-group">
											<label for="name" class="sr-only">Email</label>
											<input placeholder="Name" required="true" name="name" id="name" type="text" class="form-control input-lg">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="email" class="sr-only">Email</label>
											<input placeholder="Email" required="true" name="email" id="email" type="email" class="form-control input-lg">
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label for="message" class="sr-only">Message</label>
											<textarea placeholder="Message" required="true" name="message" id="message" class="form-control input-lg" rows="3"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="submit" id="sendBtn" class="btn btn-primary btn-lg " value="Send">
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6 animate-box">
								<div class="top-spacer"></div>
								<h3 class="section-title">Our Address</h3>
								<p>We are located just 30 minutes north of Toronto.</p>
								<div class="contact-info-mobile visible-sm visible-xs">
								<p>69 Roy Harper Ave. Aurora Ontario L4G-0V5</p>
								<button type="button" onClick="javascript:window.location.href = 'tel://1-416-230-3960'" class="btn btn-default btn-lg btn-block buttonLeftIcon"><i class="fa fa-phone"></i><span>1 (416) 230-3960</span></button>
								<button type="button" onClick="javascript:window.location.href = 'mailto:' + ['rtorcato','matrixdigital.com'].join('@')" class="btn btn-default btn-lg btn-block buttonLeftIcon"><i class="fa fa-envelope"></i><span>rtorcato<!---->@<!---->matrixdigital.com</span></button>
								<button type="button" onClick="javascript:window.location.href = 'www.matrixdigital.com'" class="btn btn-default btn-lg btn-block buttonLeftIcon"><i class="fa fa-globe"></i><span>www.matrixdigital.com</span></button>
							</div>
								<ul class="contact-info hidden-sm hidden-xs">
									<li><i class="fa fa-map-marker"></i> 69 Roy Harper Ave. Aurora Ontario L4G-0V5</li>
									<li><i class="fa fa-phone"></i><a href="tel://1-416-230-3960">1 (416) 230-3960</a></li>
									<li><i class="fa fa-envelope"></i><a href="javascript:window.location.href = 'mailto:' + ['rtorcato','matrixdigital.com'].join('@')">rtorcato<!---->@<!---->matrixdigital.com</a></li>
									<li><i class="fa fa-globe"></i><a href="www.matrixdigital.com">www.matrixdigital.com</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
					<div id="map" class="animate-box"></div>
				</section>
{% endblock %}
{% block scripts %}
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0ZIwUcRR-ihftHka9aARsxpDiNmCXrc"></script>
<script src="/js/google_map.js"></script>
<script src="/js/contact.js"></script>
{% endblock %}
