// applicaiton toolkit
@import "variables.less";
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body,
html {
    height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: @font-main, Arial, sans-serif;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    color: #85919d;
    height: 100%;
    position: relative;
    background: #fff;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.heroBackground {
    position: relative;
    background-size: cover;
    background-position: left center;
    background-image: -webkit-linear-gradient(91deg, #3c90e0 0, #121739 100%);
    background-image: linear-gradient(-1deg, #3c90e0 0, #121739 100%);
}
