/**
 * importer.less
 */
@import 'less/toolkit.less';
@import 'less/fonts.less';
@import 'less/common.less';
/**
 * components
 */
//@import 'less/components/loader.less';
//@import 'less/components/header.less';
//@import 'less/components/pageheader.less';

//@import 'less/components/menu-mobile.less';
@import 'less/components/jumbotron.less';
//@import 'less/components/logo.less';
//@import 'less/components/logo-mobile.less';
@import 'less/components/hero.less';
@import 'less/components/footer.less';
@import "less/components/bootstrap-social.less";
@import "less/components/buttons.less";

.navbar-userImage{
  height:30px;
  width:30px;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
}

.navbar-userImageLink{
  padding-top:9px !important; padding-bottom:0px !important;
}

.badge-facebook{
   background:#006699;
   position:relative;

   top: -40px;
   left: -35px;
  }
  .badge-facebook i{
     padding:2px;
}


.spinner {
-webkit-animation: loader-rotator 1.4s linear infinite;
      animation: loader-rotator 1.4s linear infinite;
}

@-webkit-keyframes loader-rotator {
0% {
-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(270deg);
        transform: rotate(270deg);
}
}

@keyframes loader-rotator {
0% {
-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(270deg);
        transform: rotate(270deg);
}
}
.path {
stroke-dasharray: 187;
stroke-dashoffset: 0;
-webkit-transform-origin: center;
  -ms-transform-origin: center;
      transform-origin: center;
-webkit-animation: loader-dash 1.4s ease-in-out infinite, loader-colors 5.6s ease-in-out infinite;
      animation: loader-dash 1.4s ease-in-out infinite, loader-colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes loader-colors {
0% {
stroke: #4285F4;
}
25% {
stroke: #DE3E35;
}
50% {
stroke: #F7C223;
}
75% {
stroke: #1B9A59;
}
100% {
stroke: #4285F4;
}
}

@keyframes loader-colors {
0% {
stroke: #4285F4;
}
25% {
stroke: #DE3E35;
}
50% {
stroke: #F7C223;
}
75% {
stroke: #1B9A59;
}
100% {
stroke: #4285F4;
}
}
@-webkit-keyframes loader-dash {
0% {
stroke-dashoffset: 187;
}
50% {
stroke-dashoffset: 46.75;
-webkit-transform: rotate(135deg);
        transform: rotate(135deg);
}
100% {
stroke-dashoffset: 187;
-webkit-transform: rotate(450deg);
        transform: rotate(450deg);
}
}
@keyframes loader-dash {
0% {
stroke-dashoffset: 187;
}
50% {
stroke-dashoffset: 46.75;
-webkit-transform: rotate(135deg);
        transform: rotate(135deg);
}
100% {
stroke-dashoffset: 187;
-webkit-transform: rotate(450deg);
        transform: rotate(450deg);
}
}

//@import 'less/pages/about.less';
//@import 'less/pages/contact.less';
//@import 'less/pages/errors.less';
